@import "function.less";

body{
  section{
    .flex();
    .horizontal();
  }
  [idName = title]{
    margin: 10px 0;
    [idName = titleCenter]{
      width:740px;
      font-size:30px;
      [idName = titleBtn]{
        color:#ff7800;
      }
      [idName = more]{
        color:#0f820c;
        font-size:18px;
      }
    }
  }
  [idName = box]{
    [idName = boxCenter]{
      width:740px;
      .imgBox{
        width:160px;
        margin: 0 20px 20px 0;
        float:left;
        font-size:12px;
        color:#c0c0c0;
        span{
          margin:0 2px;
          line-height: 25px;
          &.title{
            color:#0f820c;
          }
          &.singer{
            color:#515151;
          }
          &.triangle{
            width:0px;
            height:0px;
            border-bottom:8px solid transparent;
            border-top:8px solid transparent;
            border-left:8px solid #c0c0c0;
            font-size:0px;
            line-height:0px;
          }
          &.time{
            float:right;
          }
        }
      }
    }
  }
  [idName = homework2]{
    [idName = homework2Center]{
      width: 980px;
      border:1px solid #b1b1b1;
      display:inline-flex;
      flex-flow:row;
      -webkit-flex-flow:row;
      padding: 10px;
      .titleForAll{
        .title{
          margin: 10px;
          font-size: 20px;
        }
        .more{
          float:right;
          font-size: 14px;
          color:#b0b0b0;
        }
      }
      .large{
        width: 695px;
        .pics{
          margin: 10px;
          display:inline-flex;
          flex-flow:row;
          -webkit-flex-flow:row;
          .theSame{
            -moz-box-flex:1;
            -webkit-box-flex:1;
            box-flex:1;
            .imgTitle{
              width: 318px;
              color:white;
              background-color: #363b49;
              line-height: 40px;
            }
          }
          .papers{
            margin-left: 15px;
            .title{
              font-size: 18px;
              line-height: 35px;
            }
            .others{
              font-size: 12px;
              line-height: 25px;
              span{
                color:#999999;
              }
            }
            .border{
              border-bottom: 1px dashed #b1b1b1;
            }
          }
        }
      }
      .small{
        -moz-box-flex:1;
        -webkit-box-flex:1;
        box-flex:1;
        .pics{
          display:inline-flex;
          flex-flow:row;
          -webkit-flex-flow:row;
          .theSame{
            padding: 10px;
            img{
              border:1px solid #b1b1b1;
              padding: 5px;
            }
            div{
              font-size: 13px;
            }
          }
        }
        .others{
          border-top: 1px dashed #b1b1b1;
          padding-top: 10px;
          font-size: 15px;
          line-height: 20px;
          .remen{
            color:#999999;
          }
        }
      }
    }
  }
}
